body{
	height: auto;
	font-family: sans-serif;
	font-size: 18px;
	margin:0px;
	background: #ED4264; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */		
}
.group{
	float:right;
	margin-right:10%;
	height:80px;
	margin-top:20px;
	width:53%;
}
img {
	width: 30%;
	float:left;
}
#navbar{
	display:none;
	background-color:#FFF;
	padding:20px;
	position:fixed;
	top:0;
	width:100%;
	margin-bottom:20px;
	border-bottom:2px solid #000;
}
.card {
	background-color: #fff;
    margin-top: 5%;
    border-radius: 8px;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 10px;
    box-shadow: rgb(85, 85, 85) 0px 4px 6.66667px;
	margin-left:20%;
	width:60%;
	height:100px;
}

#card1 {
    margin-top: 5%;
	margin-left: 20%;
    height: auto;
    width:100%;
    padding: 10px;
}

#card2 {
	background-color: #fff;
    display:inline-block;
    margin-top: 2%;
	max-width:70%;
    border-radius: 8px;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 10px;
    box-shadow: rgb(85, 85, 85) 0px 4px 6.66667px;
}

#form input[type="text"]{
	width:50%;
	text-align:center;
	border:none;
	border-bottom:2px solid #AAA;
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#form input[type="text"]:focus {
	outline:none;
	text-align:center;
	border-bottom:2px solid purple;
	width:70%;
}
.btn{
	float:right;	
	width:100px;
	border:none;
	background-color:deepskyblue;
	color:white;
	padding:10px;
	transition: all 0.2s;
	cursor:pointer;
	margin-left:20px;
}
.btn:hover
{
	padding-right:25px;
	animation-name:border;
	animation-duration:4s;
}
@keyframes border {
    0%   {border-left: blue;}
    25%  {border-bottom: blue;}
    50%  {border-right: blue;}
    100% {border-top: blue;}
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.btn span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  color:#fff;
  right: -30px;
  transition: 0.5s;
}
.btn:hover span:after {
  opacity: 1;
  right: -15px;
}
#bar{
	background-color:#EEE;
	padding:5px;
	
}
.button_like {
    background-image: url(like.png);
    background-repeat: no-repeat; 
    background-position: 2px 0;
    border: none;           
    cursor: pointer;       
    height: 32px;          
    padding-left: 40px;    
    vertical-align: middle;
    color: hsl(0, 0%, 33%);
    outline: none;
}
.button_unlike {
    background-image: url(like.png);
    background-color: hsl(0, 0%, 97%);
    background-repeat: no-repeat; 
    background-position: 2px -31px;
    border: none;           
    cursor: pointer;       
    height: 32px;          
    padding-left: 40px;    
    vertical-align: middle;
    color: hsl(0, 0%, 33%);
    border-color: hsl(0, 0%, 60%);
    -webkit-box-shadow: inset 0 1px 0 hsl(0, 100%, 100%),0 1px 0 hsla(0, 0%, 0%, .08);
    box-shadow: inset 0 1px 0 hsl(0, 100%, 100%),0 1px 0 hsla(0, 0%, 0%, .08);
    outline: none;
 
}
#desc{
	border:1px solid black;
	padding:5px;
}