body{
	height: auto;
	width: 800px;
	margin-left:350px;
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;


background: #ED4264; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.box{
   // display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}