body{
	height: auto;
	width: 800px;
	margin-left:350px;
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;


background: #ED4264; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

h1 {
	text-align: center;
	font-weight: 500;
	font-size: 50px;
	font-family: 
	background: -webkit-linear-gradient(#4DD0E1, #00B0FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
	margin-left: 250px;
	width: 300px;
	
}

.card {

	background-color: #fff;
	opacity: 0.98;
    display: block;
    margin-top: 5%;
    height: 300px;
    border-radius: 8px;
    width: 800px;
    transition: box-shadow 0.15s;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 10px;
    box-shadow: rgb(85, 85, 85) 0px 4px 6.66667px;
}

#card1 {

    display: block;
    margin-top: 5%;
    margin-left: 0%;
    height: auto;
    width: 800px;
    padding: 10px;
}

#card2 {

	background-color: #fff;
	opacity: 0.98;
    display: block;
    margin-top: 5%;
    height: auto;
    border-radius: 8px;
    width: auto;
    transition: box-shadow 0.15s;
    border-bottom: 1px solid rgb(170, 170, 170);
    padding: 10px;
    box-shadow: rgb(85, 85, 85) 0px 4px 6.66667px;
}

#form {
          
    height: 400px;
    width: 800px;
    border-color: black;
    border-width: 5px;  
}

#form input {
	-webkit-animation-duration: all 0.30s ease-in-out;
	outline:none;
	width: 100px;
	border: none;
	text-align: center;
	font-size: 15px;
	border-bottom: 2px solid #AAA;
}

#form input:focus {
	width: 100px;
	outline: none;
	text-align: center;
	border-bottom: 2px solid blue;
}

.button {
	border-radius: 12px;
	margin-top: 20px;
	height: 50px;
	width: 120px;
	color: #fff;
	background-color: #03A9F4;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  text-align: center;
  pointer-events:none;
  left: 350px;
  top: 20px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-10px;
  font-size:14px;
  color:#5264AE;
}


/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:600px; 
  top:25%; 
  left:100px;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* Button On Hover ================================ */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);
* {
  box-sizing: inherit;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}


.btn {
  color: ghostwhite;
  cursor: pointer;
  display: block;
  left: 320px;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  text-align: center;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-1 {
  background: deepskyblue;
  font-weight: 100;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-1 rect {
  fill: none;
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
}

.btn-1:hover {
  background:deepskyblue;
  font-weight: 900;
  letter-spacing: 1px;
}
.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}


